@import "style.css";

.selector{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.upcoming-selector{
    padding-right: 30px;
}

.ongoing-selector{
    padding-left: 30px;
}

.spacer{
    color:rgb(223, 26, 108);
}

.upcoming-title, .ongoing-title, .href-selector{
    text-decoration: none;
    color: rgb(223, 26, 108);
}

.upcoming-title{
    text-decoration: underline;
}

.ongoing-title{
    font-weight: normal;
}   

.subtext{
    display: inline;
    text-align: right;
}

.card-subtext{
    color: khaki;
    font-size: 18px;
}

#taylor-subtext{
    margin-left: 412px;
}

#theweeknd-subtext{
    margin-left: 220px;
}

#drake-subtext{
    margin-left: 205px;
}

#stevelacy-subtext{
    margin-left: 360px;
}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
    }

    .card{
        display: inline-block;
    }

    .href-card{
        display: inline-block
    }

    .card-img{
        width: 100%;
    }

    .card-text{
        margin-left: 20px;
        margin-top: 10px;
    }

    .card-subtext{
        margin-right: 20px;
        margin-bottom: 10px;
    }
}